.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .libro-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .libro-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
  }
  
  .libro-card h2 {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .libro-card p {
    margin: 4px 0;
  }
  