<!-- welcome.component.html -->
<div class="welcome-container">
    <h1>¡Bienvenido a la Gestión de Libros!</h1>
    <p>Gestiona fácilmente tu colección de 
        libros. Desde aquí puedes ver la lista de 
        libros, añadir nuevos, y editar o eliminar 
        los existentes.</p>
  
    <div class="welcome-buttons">
      <!-- Botones para ir a diferentes secciones de la gestión de libros -->
      <button >Ver Lista de Libros</button>
      <button >Añadir Nuevo Libro</button>
    </div>
  </div>
  