<header class="content header">
    <h2 class="title">BIENVENIDOS</h2>
    <P>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ducimus quia cumque impedit ut non nemo
        voluptates unde asperiores quod iste cum quo error, hic eum ab aperiam adipisci. Consectetur!

    </P>
    <div class="btn-home">
        <a routeLink="contacto" class="btn">Saber mas</a>
    </div>
</header>
<section class="content sau">
    <h2 class="title">¿Que estas Buscando?</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore voluptate officiis at necessitatibus sint
        earum quod mollitia ullam ipsum alias numquam suscipit amet quia qui ducimus eius, aspernatur quas dicta.
    </p>
    <div class="box-container">
        <div class="box">
        <i class="fab fa-angular"></i>
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam laborum aspernatur, eius sunt dolorum enim deleniti adipisci? Molestias excepturi doloribus officia voluptas, dolor porro quae possimus ratione, dicta vel a.</p>
        </div>
    </div>
</section>